/* ============================ Responsive 769px - 992px ============================ */
@media (max-width: 992px) {
	.footer {
		&__info {
			width: 60%;
			max-height: 25%;
			padding: 20px 20px;
		}
		&__addr {
			font-size: 16px;
			line-height: 16px;
			margin-bottom: 20px;
		}
		&__phone {
			font-size: 20px;
			line-height: 20px;
			margin-bottom: 20px;
		}
		&__social-item {
			width: 42px;
			height: 42px;
			img {
				height: 24px;
			}
			&:hover {
				img {
					height: 20px;
				}
			}
		}
	}
}
/* ============================ Responsive 576px - 768px ============================ */
@media (max-width: 768px) {
	.header {
		flex-wrap: wrap;
		align-items: flex-start;
		&__official {
			position: absolute;
			top: 65px;
			left: 78px;
			order: 3;
			font-size: 12px;
			span {
				display: inline-block;
				margin-left: 5px;
				font-size: 14px;
			}
		}
		&__contacts {
			align-items: center;
		}
		&__phone {
			font-size: 16px;
		}
	}
	.promo {
		width: 100%;
		&__wrapper {
			margin-top: 50px;
		}
		&__header {
			margin-top: 50px;
			font-size: 34px;
			line-height: 34px;
		}
		&__subheader {
			margin-top: 15px;
			font-size: 18px;
		}
		&__icons {
			display: flex;
			margin-top: 50px;
			justify-content: flex-end;
		}
		&__icon {
			font-size: 12px;
		}
		.button_main {
			margin-top: 40px;
			width: 250px;
			font-size: 16px;
		}
		&__link {
			font-size: 14px;
		}
	}
	.advantages {
		padding: 35px 0;
		.title {
			font-size: 20px;
		}
		&__item {
			&:nth-child(2) {
				margin: 0 15px;
			}
		}
	}
	.consultation {
		.title_left {
			font-size: 25px;
		}
		&__descr {
			font-size: 20px;
		}
	}
	.catalog {
		&__tab {
			font-size: 14px;
		}
	}
	.footer {
		&__info {
			width: 60%;
			max-height: 25%;
			padding: 20px 20px;
		}
		&__addr {
			font-size: 16px;
			line-height: 16px;
			margin-bottom: 20px;
		}
		&__phone {
			font-size: 20px;
			line-height: 20px;
			margin-bottom: 20px;
		}
		&__social-item {
			width: 42px;
			height: 42px;
			img {
				height: 24px;
			}
			&:hover {
				img {
					height: 20px;
				}
			}
		}
	}
}

/* ============================ Responsive 320px - 575px ============================ */
@media (max-width: 575px) {
	.header {
		flex-direction: column;
		align-items: center;
		&__official {
			position: unset;

			display: inline-block;
			margin-top: 5px;
			font-size: 10px;
			span {
				display: inline-block;
				margin-left: 5px;
				font-size: 12px;
			}
		}
		&__contacts {
			order: 3;
			align-items: center;
			margin-top: 15px;
		}
		&__phone {
			font-size: 14px;
		}
	}
	.promo {
		min-height: 500px;
		padding-bottom: 40px;
		&__wrapper {
			margin-top: 30px;
			align-items: center;
		}
		&__header {
			margin-top: 30px;
			text-align: center;
			font-size: 24px;
			line-height: 24px;
		}
		&__subheader {
			margin-top: 0px;
			text-align: center;
			font-size: 12px;
		}
		&__icons {
			display: flex;
			margin-top: 30px;
			width: 100%;
			justify-content: space-around;
		}
		&__icon {
			font-size: 12px;
		}
		.button_main {
			margin-top: 40px;
			width: 220px;
			height: 40px;
			font-size: 14px;
		}
		&__link {
			font-size: 12px;
		}
	}
	.advantages {
		padding: 35px 0;
		.title {
			font-size: 20px;
		}
		&__wrapper {
			margin-top: 30px;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		&__item {
			margin-bottom: 15px;
			width: 100%;
		}
		&__subtitle {
			margin-top: 25px;
		}
		&__descr {
			margin-top: 15px;
			width: 80%;
		}
	}
	.consultation {
		min-height: 500px;
		padding: 50px 0;
		.title_left {
			font-size: 13px;
		}
		&__descr {
			margin-top: 60px;
			font-size: 14px;
		}
		.feed-form {
			width: 100%;
			max-width: 300px;
		}
	}
	.catalog {
		&__tab {
			height: 30px;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			padding-right: 5px;
			padding-left: 5px;
			div {
				font-size: 11px;
				line-height: 12px;
			}
			&:nth-child(1) {
				padding-right: 10px;
			}
			&:nth-child(3) {
				padding-right: 10px;
			}
		}
	}
	.feed {
		.title {
			font-size: 24px;
		}
		&__item {
			position: relative;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-bottom: 40px;
			img {
				width: 69px;
				display: flex;
				position: absolute;
				top: (-15px);
				left: 0;
			}
		}
		&__block {
			padding: 0;
		}
		&__userName {
			width: 300px;
			padding-left: 100px;
			font-size: 16px;
		}
		&__marathon {
			width: 300px;
			padding-left: 100px;
			margin-top: 5px;
			font-size: 12px;
			line-height: 12px;
		}
		&__descr {
			font-size: 12px;
			margin-top: 19px;
		}
	}
	.footer {
		&__info {
			width: 100%;
			max-height: 20%;
			padding: 20px 20px;
		}
		&__addr {
			font-size: 14px;
			line-height: 14px;
			margin-bottom: 10px;
		}
		&__phone {
			font-size: 14px;
			line-height: 14px;
			margin-bottom: 10px;
		}
		&__social-item {
			width: 35px;
			height: 35px;
			img {
				height: 20px;
			}
			&:hover {
				img {
					height: 15px;
				}
			}
		}
	}
	.modal {
		max-width: 80%;
		min-height: 300px;
		background-color: #f2f2f2;
		padding: 28px 20px 20px 20px;
		&__close {
			position: absolute;
			top: 0;
			right: 0;
			font-size: 41px;
			line-height: 21px;
			color: $main-color;
			cursor: pointer;
		}
		&__subtitle {
			font-size: 13px;
			line-height: 20px;
			font-weight: 700;
			color: #0d0d0d;
			text-align: center;
		}
		&__descr {
			margin-top: 11px;
			font-size: 10px;
			line-height: 14px;
			font-weight: 500;
			color: #0d0d0d;
			text-align: center;
		}
	}
	.feed-form_mobile {
		width: 100%;
		input {
			height: 35px;
			font-size: 12px;
		}
	}
}
