.button {
	width: 380px;
	height: 52px;
	background-color: $main-color;
	border: none;
	color: #ffffff;
	font-size: 14px;
	font-weight: 500;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.3s all;

	&:hover {
		box-shadow: 2px 2px 10px rgb(46, 46, 46);
		border-radius: 3px;
	}

	&_submit {
		width: 100%;
		height: 55px;
		font-size: 16px;
	}
	&_mini {
		width: 188px;
	}
	&__order {
		width: 122px;
		height: 18px;
		line-height: 0;
		font-size: 16px;
		padding: 0;
		color: rgba(255, 255, 255, 0.6);
		background-color: transparent;
		border-bottom: thin dashed rgba(255, 255, 255, 0.34);
		border-width: 2px;
		&:hover {
			border-radius: 0;
			border-color: rgba($main-color, 0.34);
			color: rgba($main-color, 0.6);
		}
	}
}
#btn_hide {
	display: none;
}
