.contact {
	min-height: 611px;
	&__wrapper {
		padding-top: 107px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__column {
		flex: 1 1 50%;
		// justify-content: space-between;
		// align-items: flex-end;

		&:nth-child(1) {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			// width: 380px;
			font-size: 24px;
			color: #000000;
			line-height: 30px;
			text-align: left;
			padding-left: 7px;
		}
		&:nth-child(2) {
			display: flex;
			justify-content: flex-end;
			align-items: flex-end;
		}
	}
	&__mail {
		line-height: 36px;
	}
	&__phones {
		margin-top: 24px;
		p {
			margin: 0;
		}
	}
	&__adress {
		margin-top: 30px;
	}
	.span_lh60 {
		line-height: 30px;
	}
}
