.consultation {
	min-height: 539px;
	padding-bottom: 146px;
	background-color: #fff;
	&__wrapper {
		margin-top: 104px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__item {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		max-width: 451px;
		&:nth-child(1) {
			margin-left: 6px;
			margin-top: -20px;
		}
	}
	&__subtitle {
		font-size: 32px;
		line-height: 32px;
		text-align: left;
		color: #000000;
	}
	&__descr {
		margin-top: 40px;
		font-size: 16px;
		line-height: 24px;
		text-align: left;
		color: #000000;
	}
}
