.gallery {
	min-height: 1256px;
	background-color: $submain-color;
	padding-bottom: 110px;
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__wrapper {
		margin-top: 66px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.zoom-gallery {
		&__wrapper {
			margin-top: 66px;
		}
		&__row {
			margin: 0 -8px;
			text-align: center;
			a {
				padding: 0 8px;
			}
		}
		&__subtitle {
			margin: 15px 0 30px 0;

			font-size: 16px;
			font-weight: 500;
			line-height: 22px;
			text-align: left;
			span {
				color: $main-color;
			}
		}
		&_hidden {
			display: none;
		}
	}

	/* 	========================= magnific-popup Styles ========================= */
	.image-source-link {
		color: $main-color;
	}

	.mfp-with-zoom .mfp-container,
	.mfp-with-zoom.mfp-bg {
		opacity: 0;
		// -webkit-backface-visibility: hidden;
		/* ideally, transition speed should match zoom duration */
		-webkit-transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
	}

	.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
	}
	.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
	}

	.mfp-with-zoom.mfp-removing .mfp-container,
	.mfp-with-zoom.mfp-removing.mfp-bg {
		opacity: 0;
	}
}
