.main {
	min-height: 765px;
	background: url("../img/bg_header_1.jpg") center (center / cover) no-repeat;
	.container {
		position: relative;
		padding-top: 98px;
		// min-height: 100vh;
		min-height: 765px;
		margin: auto;
	}
	.header {
		&__wrapper {
			// padding: 0 20px;
			display: flex;
			justify-content: space-between;
		}
		&__logo {
			position: absolute;
			top: 55px;
			left: 50%;
			transform: translateX(-50%);
		}
		// &__call,
		&__phone {
			font-size: 16px;
			font-weight: 500;
			line-height: 13px;
			color: rgba(255, 255, 255, 0.6);
			text-transform: uppercase;
			text-decoration: none;
			transition: 0.3s all;
			&:hover {
				text-decoration: none;
				color: rgba($main-color, 0.6);
			}
		}
	}
	nav {
		width: 100%;
		position: absolute;
		bottom: 63px;
		left: 0;
		padding: 0 20px;
		// position: sticky;

		.menu {
			padding: 0;
			margin: 0;
			display: flex;
			justify-content: space-between;
			list-style-type: none;
			flex-wrap: wrap;
			&__item {
				line-height: 11px;
				padding-right: 30px;
				&:last-child {
					padding-right: 0;
				}
			}
			a {
				font-size: 16px;
				font-weight: 500;
				line-height: 11px;
				color: #ffffff;
				text-transform: uppercase;
				text-decoration: none;
				&:hover {
					color: $main-color;
					font-weight: 700;
					transition: 0.3s all;
				}
			}
		}
	}
}
